body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.btnWhite {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  padding: 10px 26px 10px 26px;
  font-size: 0.92rem;
  font-weight: 500;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.btnColor {
  color: white;
  background-color: #935de4;
  border: none;
  padding: 10px 50px 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2.1rem;
  text-align: center;
}

.underline {
  background-color: #5846f9;
  height: 4px;
  width: 52px;
  margin-top: 12px;
}

nav {
  background-color: rgba(62, 47, 192, 0.7882352941);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 28px 0px 28px 0px;
}
nav a {
  color: white;
}
nav button {
  margin-right: 76px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.navbar .bar {
  display: flex;
  gap: 1.9rem;
  font-weight: bold;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.navbar ul a .arrow {
  height: 7px;
  width: 7px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  rotate: 45deg;
}
.navbar ul li {
  display: none;
}

.navIcon {
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0.13rem;
  margin-left: 76px;
}

header {
  height: 103vh;
  background-color: rgba(121, 43, 217, 0.8);
  display: flex;
  justify-content: space-between;
  padding-top: 38vh;
  padding-left: 12.5em;
  padding-right: 12.5em;
}

.headerTitle {
  width: 460px;
  height: auto;
  padding-top: 6.9em;
}
.headerTitle h1 {
  font-size: 3.4rem;
  color: white;
  line-height: 4.2rem;
  margin-bottom: 2.2rem;
}
.headerTitle button {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 30px 8px 30px;
}

.headerImg {
  padding-top: 10px;
}
.headerImg img {
  height: 480px;
}

.voluptatem {
  width: auto;
  height: 80vh;
  display: flex;
  padding: 124px 72px 0 74px;
}

.voluptatemText h2 {
  font-size: 2.1rem;
  line-height: 2.6rem;
}
.voluptatemText .voluptatemP1 {
  margin-top: 10px;
  font-size: 0.945rem;
}
.voluptatemText div {
  margin-top: 24px;
  margin-bottom: 28px;
}
.voluptatemText div p {
  font-size: 1.14rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.2rem;
  line-height: 1.5rem;
}
.voluptatemText div p i {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

.voluptatemImg img {
  height: 440px;
}

.numbers {
  background-image: url("../img/counts-bg.png");
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16%;
}

.numbersContainer {
  color: white;
}
.numbersContainer p {
  text-align: center;
}
.numbersContainer p:first-of-type {
  font-size: 3.2rem;
  font-weight: 700;
}
.numbersContainer p:last-of-type {
  font-size: 0.9rem;
}

.services {
  background-color: #f9f8fe;
  height: 160vh;
}
.services .servicesTitle {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .servicesTitle .titleP1 {
  margin-top: 20px;
  text-align: center;
  padding: 0 76px 0 76px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.services .servicesContainers {
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.services .servicesContainers .sContainer {
  width: 400px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 20px 90px 20px;
}
.services .servicesContainers .sContainer:nth-of-type(2) {
  background-color: #fffaf6;
}
.services .servicesContainers .sContainer img:first-child {
  height: 30px;
}
.services .servicesContainers .sContainer i {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.services .servicesContainers .sContainer p:first-of-type {
  margin-top: 48px;
  font-size: 1.5rem;
}
.services .servicesContainers .sContainer p:last-of-type {
  margin-top: 14px;
  text-align: center;
  font-size: 0.85rem;
}
.services .servicesContainers .sContainer #sed {
  margin-top: 66px;
}
.services .servicesContainers .sContainer #cardoP {
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
