html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.btnWhite {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.6666666667);
  padding: 10px 26px 10px 26px;
  font-size: 0.92rem;
  font-weight: 500;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.btnWhite2 {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  padding: 10px 26px 10px 26px;
  font-size: 0.92rem;
  font-weight: 500;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.btnColor {
  color: white;
  background: linear-gradient(0.15turn, #5c43f5, #7a28d9);
  border: none;
  padding: 10px 50px 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.btnGradient {
  border: none;
  padding: 12px 36px 12px 36px;
  font-size: 0.92rem;
  font-weight: bold;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(0.5turn, #7a28d9, #5c43f5);
}

.title {
  font-size: 2.1rem;
  text-align: center;
}

.underline {
  background-color: #5846f9;
  height: 4px;
  width: 52px;
  margin-top: 12px;
}

.select {
  border-bottom: 3px solid #444444 !important;
}

.selected {
  position: relative !important;
  display: block !important;
}

nav {
  background-color: rgba(62, 47, 192, 0.7882352941);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 28px 0px 28px 0px;
  z-index: 100;
}
nav a {
  color: white;
}
nav button {
  margin-right: 76px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.navbar .bar {
  display: flex;
  gap: 1.9rem;
  font-weight: bold;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.navbar ul a .arrow {
  height: 7px;
  width: 7px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  rotate: 45deg;
  position: relative;
  bottom: 2px;
}
.navbar ul li {
  display: none;
}

.navIcon {
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0.13rem;
  margin-left: 76px;
}

.navHover::before {
  width: 10px;
  height: 4px;
  background-color: white;
  content: test;
}

header {
  height: 103vh;
  background-color: rgba(121, 43, 217, 0.8);
  display: flex;
  justify-content: space-between;
  padding-top: 38vh;
  padding-left: 12.5em;
  padding-right: 12.5em;
}

.headerTitle {
  width: 460px;
  height: auto;
  padding-top: 6.9em;
}
.headerTitle h1 {
  font-size: 3.4rem;
  color: white;
  line-height: 4.2rem;
  margin-bottom: 2.2rem;
}
.headerTitle button {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 30px 8px 30px;
}

.headerImg {
  padding-top: 10px;
}
.headerImg img {
  height: 480px;
  position: relative;
  transition: bottom 1s ease-in-out;
}

.voluptatem {
  width: auto;
  height: 80vh;
  display: flex;
  padding: 124px 72px 0 74px;
}

.voluptatemText h2 {
  font-size: 2.1rem;
  line-height: 2.6rem;
}
.voluptatemText .voluptatemP1 {
  margin-top: 10px;
  font-size: 0.945rem;
}
.voluptatemText div {
  margin-top: 24px;
  margin-bottom: 28px;
}
.voluptatemText div p {
  font-size: 1.14rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.2rem;
  line-height: 1.5rem;
}
.voluptatemText div p i {
  font-size: 1.4rem;
  margin-right: 0.4rem;
}

.voluptatemImg img {
  height: 440px;
}

.numbers {
  background-image: url("../img/counts-bg.png");
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16%;
}

.numbersContainer {
  color: white;
}
.numbersContainer p {
  text-align: center;
}
.numbersContainer p:first-of-type {
  font-size: 3.2rem;
  font-weight: 700;
}
.numbersContainer p:last-of-type {
  font-size: 0.9rem;
}

.services {
  background-color: #f9f8fe;
  height: 160vh;
}
.services .servicesTitle {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .servicesTitle .titleP1 {
  margin-top: 20px;
  text-align: center;
  padding: 0 76px 0 76px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.services .servicesContainers {
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.services .servicesContainers .sContainer {
  width: 400px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 20px 90px 20px;
  transition: background-color 0.2s ease-out;
}
.services .servicesContainers .sContainer i {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
.services .servicesContainers .sContainer .fa-keyboard {
  color: #47aefe;
}
.services .servicesContainers .sContainer .fa-gamepad {
  color: #ffb300;
}
.services .servicesContainers .sContainer .fa-clock {
  color: #e80168;
}
.services .servicesContainers .sContainer .fa-display {
  color: #ffbb2c;
}
.services .servicesContainers .sContainer .fa-building {
  color: #ff5828;
}
.services .servicesContainers .sContainer .fa-mug-saucer {
  color: #0edbce;
}
.services .servicesContainers .sContainer p:first-of-type {
  margin-top: 48px;
  font-size: 1.5rem;
}
.services .servicesContainers .sContainer p:last-of-type {
  margin-top: 14px;
  text-align: center;
  font-size: 0.85rem;
}
.services .servicesContainers .sContainer #cardP {
  padding-left: 5px;
}

.features {
  padding: 100px 70px 100px 70px;
}
.features .featuresTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .featuresTitle p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.features .core {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}
.features .core .coreImg {
  width: 51%;
  margin-left: 24px;
}
.features .core .coreDiv {
  display: flex;
  margin-bottom: 68px;
}
.features .core .coreDiv:first-of-type {
  margin-top: 8px;
}
.features .core .coreDiv:last-of-type {
  margin-left: 26px;
}
.features .core .coreDiv img {
  height: 50px;
  margin-left: 6px;
}
.features .core .coreDiv .coreText {
  margin-left: 12px;
}
.features .core .coreDiv .coreText p:first-of-type {
  font-size: 1.2rem;
  font-weight: 700;
}
.features .core .coreDiv .coreText p:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 1.06rem;
  line-height: 1.5rem;
}

.testimonials {
  background-color: #f9f8fe;
  padding: 110px 80px 110px 80px;
}
.testimonials .testimonialsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials .testimonialsTitle p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.testimonials .carousel {
  margin-top: 40px;
  display: flex;
  gap: 70px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}
.testimonials .carousel .carContainer {
  width: 400px;
  position: relative;
  flex-shrink: 0;
  transition: right 0.5s ease-in-out;
}
.testimonials .carousel .carContainer .carText {
  background-color: white;
  padding: 28px 20px 0px 20px;
  height: 200px;
}
.testimonials .carousel .carContainer .carText i {
  font-size: 0.95rem;
}
.testimonials .carousel .carContainer .carText i .fa-solid {
  color: #b1a9fc;
  font-size: 1.6rem;
  position: relative;
}
.testimonials .carousel .carContainer .carText i .fa-solid:first-of-type {
  bottom: 4px;
}
.testimonials .carousel .carContainer .carText i .fa-solid:last-of-type {
  top: 12px;
}
.testimonials .carousel .carContainer .carName {
  padding-left: 30px;
}
.testimonials .carousel .carContainer .carName div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  bottom: 38px;
}
.testimonials .carousel .carContainer .carName div img {
  height: 88px;
}
.testimonials .carousel .carContainer .carName p {
  position: relative;
}
.testimonials .carousel .carContainer .carName p:nth-of-type(1) {
  font-weight: bold;
  bottom: 30px;
  font-size: 1.2rem;
}
.testimonials .carousel .carContainer .carName p:nth-of-type(2) {
  bottom: 30px;
}
.testimonials .carBtn {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.testimonials .carBtn .btnRound {
  height: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #f9f8fe;
  border: 2px solid #5846f9;
  cursor: pointer;
}

.tech {
  background-color: white;
  padding: 96px 76px 110px 76px;
}
.tech .techTitle {
  text-align: left;
  font-size: 2.15rem;
  font-weight: 400;
}
.tech .techBtn {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 8px;
}
.tech .techBtn button {
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  padding: 0 4px 8px 4px;
  border: none;
  border-bottom: 3px solid #b6b6bf;
}
.tech .techCore {
  position: absolute;
  display: none;
}
.tech .techCore .coreTitle {
  margin-top: 34px;
}
.tech .techCore .coreTitle p {
  text-align: center;
}
.tech .techCore .coreTitle #IA {
  font-size: 2.2rem;
  font-weight: bold;
}
.tech .techCore .techCoreContainer {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  gap: 150px;
}
.tech .techCore .techCoreContainer .tcDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech .techCore .techCoreContainer .tcDiv .tcImg {
  background-color: blue;
  height: 214px;
  width: 314px;
  background-position: center;
  background-size: cover;
}
.tech .techCore .techCoreContainer .tcDiv p:first-of-type {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
.tech .techCore .techCoreContainer .tcDiv p:nth-of-type(2) {
  margin-top: 4px;
  font-size: 1rem;
}
.tech .techCore .techCoreContainer .tcDiv #img1 {
  background-image: url("../img/adobe.jpg");
}
.tech .techCore .techCoreContainer .tcDiv #img2 {
  background-image: url("../img/gpt.jpg");
}
.tech .techCore .techCoreContainer .tcDiv #img3 {
  background-image: url("../img/bard.jpg");
}
.tech .techCore .techCoreContainer .tcDiv #img4 {
  background-image: url("../img/vsc.png");
}
.tech .techCore .techCoreContainer .tcDiv #img5 {
  background-image: url("../img/atom.png");
}
.tech .techCore .techCoreContainer .tcDiv #img6 {
  background-image: url("../img/py.jpg");
}
.tech .techCore .techCoreContainer .tcDiv #img7 {
  background-image: url("../img/adobeXD.jpg");
}
.tech .techCore .techCoreContainer .tcDiv #img8 {
  background-image: url("../img/figma.jpg");
}
.tech .techCore .techCoreContainer .tcDiv #img9 {
  background-image: url("../img/uizard.png");
}

.pricing {
  background-color: #f9f8fe;
  padding: 100px 64px 110px 64px;
}
.pricing .pricingTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .pricingTitle p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.pricing .pricingBtn {
  margin-top: 52px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.pricing .pricingBtn .btnPurple {
  width: 64px;
  height: 36px;
  background-color: #8576fb;
  border-radius: 18px;
  cursor: pointer;
}
.pricing .pricingBtn .btnPurple button {
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1/1;
  position: relative;
  left: 4px;
}
.pricing .pricingBtn p {
  font-weight: bold;
}
.pricing .priceMainContainer {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 28px;
}
.pricing .priceMainContainer .priceContainer {
  background-color: #f8f8f8;
  width: 320px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 6px #b1b1b1;
}
.pricing .priceMainContainer .priceContainer .pct2 {
  background-color: blue;
  color: white;
  width: 100%;
}
.pricing .priceMainContainer .priceContainer .pcTitle {
  padding: 20px 0 20px 0px;
}
.pricing .priceMainContainer .priceContainer .pcTitle p {
  border-top: 20px;
  font-weight: 500;
  text-align: center;
}
.pricing .priceMainContainer .priceContainer .pcText {
  padding-top: 18px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}
.pricing .priceMainContainer .priceContainer .pcText div {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.pricing .priceMainContainer .priceContainer .pcText div div {
  color: #5846f9;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  right: 6px;
}
.pricing .priceMainContainer .priceContainer .pcText div i {
  color: #5846f9;
  font-size: 2.4rem;
  position: relative;
  right: 6px;
  font-weight: bold;
  font-style: italic;
}
.pricing .priceMainContainer .priceContainer .pcText div #zero {
  font-style: normal;
}
.pricing .priceMainContainer .priceContainer .pcText div p {
  position: relative;
  top: 20px;
  margin: 0 !important;
  color: #bfbfbf;
}
.pricing .priceMainContainer .priceContainer .pcText p {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}
.pricing .priceMainContainer .priceContainer .pcText .strike {
  text-decoration: line-through;
  color: #bfbfbf;
}
.pricing .priceMainContainer .priceContainer button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.faq {
  background: linear-gradient(0.125turn, #5c43f5, #7a28d9);
  padding: 100px 64px 120px 64px;
}
.faq .faqTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq .faqTitle .title {
  color: white;
}
.faq .faqTitle .underline {
  background-color: #c6aef6;
}
.faq .faqTitle p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  color: white;
}
.faq .cards {
  padding: 36px 116px 0 116px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.faq .cards .card {
  background-color: white;
  border-radius: 6px;
  padding-bottom: 32px;
}
.faq .cards .card div .cardTitle {
  display: flex;
  margin: 32px 0 0 24px;
  align-items: center;
  justify-content: space-between;
}
.faq .cards .card div .cardTitle div:first-of-type {
  display: flex;
  align-items: center;
}
.faq .cards .card div .cardTitle div:first-of-type .question {
  width: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2.5px solid #8576fb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq .cards .card div .cardTitle div:first-of-type .question i {
  color: #8576fb;
}
.faq .cards .card div .cardTitle div:first-of-type p {
  margin-left: 18px;
  color: #474747;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  cursor: pointer;
}
.faq .cards .card div .cardTitle .arrow {
  border-bottom: 2px solid #474747;
  border-right: 2px solid #474747;
  margin-right: 42px;
  rotate: 45deg;
  width: 6px;
  aspect-ratio: 1/1;
  transition: rotate 0.1s;
}
.faq .cards .card div .cardText {
  margin: 14px 86px 0 32px;
  font-family: "Roboto", sans-serif;
  font-size: 1.11rem;
  line-height: 1.5rem;
  color: #474747;
}

.contact {
  background: #f9f8fe;
  padding: 100px 74px 110px 74px;
}
.contact .contactTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contactTitle p {
  font-family: "Roboto", sans-serif;
  margin-top: 24px;
  text-align: center;
  font-size: 1.1rem;
}
.contact .contactBody {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  gap: 24px;
}
.contact .contactBody div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contactBody div i {
  color: #5846f9;
  font-size: 1.8rem;
}
.contact .contactBody div p:first-of-type {
  margin-top: 18px;
  font-size: 1.25rem;
  font-weight: bold;
}
.contact .contactBody div p:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  margin-top: 12px;
  font-size: 0.95rem;
}
.contact .contactBody .contactBodyAdress {
  width: 49%;
  padding: 34px 0 34px 0;
}
.contact .contactBody .contactBodyEmail {
  width: 23.5%;
  padding: 34px 0 34px 0;
}
.contact .contactBody .contactBodyPhone {
  width: 23.5%;
  padding: 34px 0 34px 0;
}
.contact .contactBody iframe {
  width: 49%;
  height: 410px;
}
.contact .contactBody .contactBodyForm {
  width: 49%;
  padding: 34px 0 16px 0px;
  height: 360px;
}
.contact .contactBody .contactBodyForm form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 34px;
  padding-right: 34px;
}
.contact .contactBody .contactBodyForm form input {
  padding: 12px 0 12px 14px;
  font-size: 0.95rem;
  border-radius: 4px;
  border: 2px solid #e2e5e9;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
}
.contact .contactBody .contactBodyForm form input:first-of-type {
  width: 45%;
}
.contact .contactBody .contactBodyForm form input:nth-of-type(2) {
  width: 45%;
}
.contact .contactBody .contactBodyForm form input:nth-of-type(3) {
  width: 100%;
}
.contact .contactBody .contactBodyForm form textarea {
  font-family: "Roboto", sans-serif;
  padding: 12px 0 12px 14px;
  font-size: 0.95rem;
  width: 100%;
  border-radius: 6px;
  border: 2px solid #e2e5e9;
}
.contact .contactBody .contactBodyForm .btnBlue {
  margin-top: 18px;
  border: none;
  padding: 12px 26px 12px 26px;
  font-size: 1.05rem;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #5846f9;
}

footer {
  background-image: url("../img/footer-bg.jpg");
  background-color: #ad50e8;
  background-blend-mode: multiply;
  background-size: center;
  color: white;
}
footer .footerContent {
  padding: 0 76px 52px 76px;
  margin-top: 52px;
  display: flex;
}
footer .footerContent .footerContainer:first-of-type {
  width: 13.5rem;
}
footer .footerContent .footerContainer:first-of-type div {
  margin-top: 1.8rem;
  font-size: 0.92rem;
}
footer .footerContent .footerContainer:last-of-type {
  width: 28rem;
  margin-left: 10rem;
}
footer .footerContent .footerContainer:last-of-type p {
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
}
footer .footerContent .footerContainer:last-of-type .subscribe {
  display: flex;
  margin-top: 38px;
}
footer .footerContent .footerContainer:last-of-type .subscribe input {
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 14px 10px 14px 0;
  width: 70%;
}
footer .footerContent .footerContainer:last-of-type .subscribe button {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #935de4;
  width: 28%;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1.05rem;
}
footer .footerContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .footerContent ul li {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
footer .footerContent ul li .arrow {
  width: 6px;
  height: 6px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  rotate: 45deg;
}
footer .footerContent ul li a {
  margin-left: 8px;
  font-size: 0.95rem;
  font-family: "Roboto", sans-serif;
}
footer .footerContent ul:first-of-type {
  margin-left: 8.5rem;
  width: 9rem;
}
footer .footerContent ul:nth-of-type(2) {
  margin-left: 6rem;
  width: 12rem;
}
footer .footerLink {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
footer .footerLink .link {
  border-top: 2px solid #ffffff;
  display: flex;
  gap: 8px;
  margin: 0 20px 0 60px;
  width: 100%;
  padding-top: 24px;
  padding-left: 12px;
}
footer .footerLink .link div {
  height: 38px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #935de4;
}
footer .footerLink a {
  margin-top: 32px;
  margin-right: 16px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  background-color: #5846f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerLink a i {
  color: white;
}

.hoverWhite {
  border: 2px solid #ffffff;
}

.hoverBgWhite {
  color: #935de4;
  background-color: white;
}

.btnColorHover {
  background: linear-gradient(0turn, #7a28d9, #5c43f5);
}

.btnMove {
  left: 32px !important;
}

.purple {
  color: #8576fb !important;
}

.basicGrey {
  color: #474747 !important;
}

.blue {
  color: #5846f9 !important;
}

.arrowGrey {
  border-bottom: 2px solid #474747 !important;
  border-right: 2px solid #474747 !important;
}

.arrowBlue {
  border-bottom: 2px solid #5846f9 !important;
  border-right: 2px solid #5846f9 !important;
}

.arrowTop {
  rotate: -135deg !important;
}

.hidden {
  display: none;
}

.fill {
  background-color: #5846f9 !important;
}

/*# sourceMappingURL=style.css.map */
