

.hoverWhite
    border: 2px solid #ffffff

.hoverBgWhite
    color: $btnPurple
    background-color: white

.btnColorHover
     background: linear-gradient(0turn, #7a28d9, #5c43f5)

.btnMove
    left: 32px !important

.purple
    color: $btnPurple2 !important

.basicGrey
    color: $fontDarkGrey !important
.blue
    color: $iconBlue !important
.arrowGrey
    border-bottom: 2px solid $fontDarkGrey !important
    border-right: 2px solid $fontDarkGrey !important
.arrowBlue
    border-bottom: 2px solid $iconBlue !important
    border-right: 2px solid $iconBlue !important
.arrowTop
    rotate: -135deg !important

.hidden
    display: none !important



.fill
    background-color: $iconBlue !important


.underline
    background-color: #5846f9
    height: 4px
    width: 52px
    margin-top: 12px

.select
    border-bottom: 3px solid #444444 !important

.selected
    position: relative !important
    display: block !important