
@media screen and (min-width: 1200px) and (max-width: 1500px)

    ///// global /////
    .title
        font-size: 1.7rem
    .underline
        width: 42px
    .titleP1
        padding: 0 !important
        margin-top: 0.8rem !important
        font-size: 0.87rem !important
        line-height: 1.2rem !important

    ///// nav /////
    nav
        padding: 1.2rem 0px 1.2rem 0px
        .navIcon
           margin-left: 52px
           font-size: 1.6rem

        .navbar
            .bar
                .home
                    &::before
                        width: 44px
                        left: 40px
                a
                    font-size: 0.8rem

        .btnWhite
            margin-right: 62px
            padding: 0.4rem 1.2rem 0.4rem 1.2rem
            font-size: 0.75rem
            border-radius: 4px

    ///// header /////
    header
        height: 99vh
        padding: 11.5rem 10rem 0 10rem
        .headerTitle
            h1
                font-size: 2.7rem
                line-height: 3.4rem
                margin-bottom: 1.4rem
            .btnWhite2
                padding: 0.6rem 2rem 0.6rem 2rem
                font-size: 0.75rem
                border-radius: 4px
        .headerImg
            img
                height: 380px

    ///// voluptatem /////
    .voluptatem
        padding: 5.875rem 3.75rem 0 3.75rem
        height: 73vh
        .voluptatemText
            h2
                font-size: 1.65rem
                line-height: 2rem
            .voluptatemP1
                font-size: 0.74rem
            div
                margin-top: 18px
                margin-bottom: 10px
                p
                    font-size: 0.89rem
                    margin-bottom: 0.6rem
                    i
                        font-size: 1rem
            .btnColor
                font-size: 0.85rem
                padding: 0.5rem 2.1rem 0.5rem 2.1rem
                border-radius: 4px
        .voluptatemImg
            img
                height: 350px
    
    ///// numbers /////
    .numbers
        height: 34vh
        .numbersContainer 
            p:first-of-type
                font-size: 2.4rem
            p:last-of-type
                font-size: 0.75rem

    ///// services /////
    .services
        padding:  5rem 3.6rem 0 3.6rem
        height: 134vh
        .servicesTitle
            padding-top: 0
        .servicesContainers
            padding: 0
            gap: 1.25rem
            .sContainer
                padding: 5rem 0.75rem 4.375rem 0.75rem
                width: 20rem
                p:first-of-type
                    margin-top: 2.4rem
                    font-size: 1.15rem
                    font-weight: bold 
                p:last-of-type
                    font-size: 0.7rem

    ///// features /////
    .features
        padding: 4.625rem 3.75rem 6.25rem 3.75rem
        .core
            .text
                .coreDiv

            .coreImg
                height: 63%
                margin-left: 0