
nav
    background-color: $navBlue
    color: white
    display: flex
    align-items: center
    justify-content: space-between
    position: fixed
    width: 100%
    padding: 28px 0px 28px 0px
    z-index: 100
    a
        color: white
    button
        margin-right: 76px


.navbar
    display: flex
    align-items: center
    gap: 4rem
    .bar
        display: flex
        gap: 1.9rem
        font-weight: bold
    ul
        margin: 0
        padding: 0
        a
            display: flex
            align-items: center
            gap: 0.2rem
            .arrow
                height: 7px
                width: 7px
                border-bottom: 2px solid white
                border-right: 2px solid white
                rotate: 45deg
                position: relative
                bottom: 2px
        li
            display: none

// icone molengeek
.navIcon
    font-size: 2.1rem
    font-weight: 500
    letter-spacing: 0.13rem
    margin-left: 76px


.navHover
    &::before
        width: 10px
        height: 4px
        background-color: white
        content: test