
.services
    background-color: $bgGrey
    height: 160vh

    .servicesTitle
        padding-top: 100px
        display: flex
        flex-direction: column
        align-items: center
        .titleP1
            margin-top: 20px
            text-align: center
            padding: 0 76px 0 76px
            font-family: $roboto
            font-size: 1.1rem
            line-height: 1.6rem

    .servicesContainers
        margin-top: 30px
        padding-left: 60px
        padding-right: 60px
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 24px

        .sContainer
            width: 400px
            height: auto
            background-color: white
            display: flex
            flex-direction: column
            align-items: center
            padding: 110px 20px 90px 20px
            transition: background-color 0.2s ease-out

            i
                font-size: 1.2rem
                margin-top: 0.4rem
            .fa-keyboard
                color: $iconLightBlue
            .fa-gamepad
                color: $iconLightOrange
            .fa-clock
                color: $iconBordeau
            .fa-display
                color: $iconYellow
            .fa-building
                color: $iconOrange
            .fa-mug-saucer
                color: $iconTurquoise

            p
                &:first-of-type
                    margin-top: 48px
                    font-size: 1.5rem
                &:last-of-type
                    margin-top: 14px
                    text-align: center
                    font-size: 0.85rem
                
            #cardP
                padding-left: 5px

                    
                