
.tech
    background-color: white
    padding: 96px 76px 110px 76px
    .techTitle
        text-align: left
        font-size: 2.15rem
        font-weight: 400
    .techBtn
        display: flex
        justify-content: center
        gap: 22px
        margin-top: 8px
        button
            font-family: $poppins
            background-color: $transparent
            font-size: 1.2rem
            padding: 0 4px 8px 4px
            border: none
            border-bottom: 3px solid #b6b6bf
    .techCore
        position: absolute
        display: none
        .coreTitle
            margin-top: 34px
            p
                text-align: center
            .IA
                font-size: 2.2rem
                font-weight: bold
        .techCoreContainer
            margin-top: 28px
            display: flex
            justify-content: center
            gap: 150px

            .tcDiv
                background-color: white
                display: flex
                flex-direction: column
                align-items: center     
                .tcImg
                    height: 214px
                    width: 314px
                    background-position: center
                    background-size: cover
                p
                    &:first-of-type
                        margin-top: 10px
                        font-size: 1.5rem
                        font-weight: 500
                    &:nth-of-type(2)
                        margin-top: 4px
                        font-size: 1rem
                #img1
                    background-image: url("../img/adobe.jpg")
                #img2
                    background-image: url("../img/gpt.jpg")
                #img3
                    background-image: url("../img/bard.jpg")
                #img4
                    background-image: url("../img/vsc.png")
                #img5
                    background-image: url("../img/atom.png")
                #img6
                    background-image: url("../img/py.jpg")
                #img7
                    background-image: url("../img/adobeXD.jpg")
                #img8
                    background-image: url("../img/figma.jpg")
                #img9
                    background-image: url("../img/uizard.png")

                    