//bg
$navBlue: #3e2fc0c9
$bgGrey : #f9f8fe
$divBeige: #fffaf6
$bgPurple:  linear-gradient(0.125turn, #5c43f5, #7a28d9)

//btn    
$transparent: #ffffff00
$btnPurple : #935de4
$btnPurple2: #8576fb

//icon
$iconBlue: #5846f9

$iconLightBlue: #47aefe
$iconLightOrange: #ffb300
$iconBordeau: #e80168
$iconYellow: #ffbb2c
$iconOrange: #ff5828
$iconTurquoise: #0edbce

//border
$borderLightGrey: #b6b6bf
$borderDarkGrey: #444444
$borderLightGrey2: #f8f8f8
$borderPurple: #c6aef6
$question: #8576fb

//font
$fontLightGrey : #bfbfbf
$fontDarkGrey:#474747
$quotePink: #b1a9fc